In [5]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from requests import get
import urllib
import re
from bs4 import BeautifulSoup

In [4]:
def getLinks(url):
    html_page = requests.get(url)
    soup = BeautifulSoup(html_page)
    links = []
 
    for link in soup.findAll('a', attrs={'href': re.compile("^http://")}):
        links.append(link.get('href'))
 
    return links
 
print( getLinks("http://arstechnica.com") )

NameError: name 'requests' is not defined

In [150]:
    url = 'https://www.imdb.com/chart/top'

## Fetch the webpage
r = requests.get(url)
print (type(r))

<class 'requests.models.Response'>

In [151]:
r.status_code

200

In [152]:
info = r.text

In [153]:
soup = BeautifulSoup(r.text, 'html.parser')

In [154]:
print(type(soup))

<class 'bs4.BeautifulSoup'>

In [155]:
TITLES = []
YEARS = []
RATINGS = []
URLS = []

ACTORS = []
DIRECTORS = []

In [156]:
table_inf = soup.find_all('tbody', {'class': 'lister-list'})
print (len(table_inf))
print (type(table_inf[0]))

doc = table_inf[0]
print(type(doc))

1
<class 'bs4.element.Tag'>
<class 'bs4.element.Tag'>

In [157]:
rows = doc.find_all('tr')
print (len(rows))

250

In [179]:
test_row = rows[0]
title_column = test_row.find('td', {'class' : 'titleColumn'})
print(title_column.span.text)    #text added after span...nothing in original.
print(title_column.a.text)
print(type(title_column.a.text.encode('utf-8')))

linki = title_column.findAll('a', attrs={'href': re.compile("^http://")})
print(linki)

#print(test_row.td)
##mine
rati = test_row.find('td', {'class':'ratingColumn imdbRating'})
print(rati.strong.text)

(1994)
The Shawshank Redemption
<class 'bytes'>
[]
9.2

In [128]:
count = 0
movie_root_url = 'https://www.imdb.com'
for row in rows:
    #if count>1:
        #break
    count+=1
    title_column = row.find('td', {'class': 'titleColumn'})
    rating_column = row.find('td', {'class' : 'ratingColumn'})
    
    movie_title = title_column.a.text
    year = title_column.span.text.split('(')[-1].split(')')[0]
    movie_rel_url = title_column.a['href']
    movie_url = movie_root_url + movie_rel_url
    
    imp_people = title_column.a['title']
    director = imp_people.split(',')[0].split('(')[0].strip()
    
    actors = ','.join(imp_people.split(',')[1:]).strip()
    
    rating = rating_column.strong.text
    
    TITLES.append(movie_title.encode('utf-8').decode())
    YEARS.append(year.encode('utf-8').decode())
    URLS.append(movie_url.encode('utf-8').decode())
    RATINGS.append(rating.encode('utf-8').decode())
    
    ACTORS.append(actors.encode('utf-8'))
    DIRECTORS.append(director.encode('utf-8'))
    
#     print movie_title
#     print year
#     print rating
#     print movie_url
#     print director
#     print actors
    #print '--------'
print (count)

250

In [ ]:
    director = imp_people.split(',')[0].split('(')[0].strip

In [ ]:
    director = imp_people.split(',')[0].split('(')[0].strip

In [90]:
print (type(title_column))

<class 'bs4.element.Tag'>

In [133]:
print (len(TITLES))
#print len(DIRECTORS)
#print len(ACTORS)
#print len(RATINGS)

2500

In [94]:
empty_df = pd.DataFrame({'Title': TITLES, 'Rating': RATINGS, 'Year': YEARS, 'URL': URLS, 'Director': DIRECTORS, 'Actors': ACTORS}, columns=['Title', 'Year', 'Rating', 'Director', 'Actors', 'URL'])

In [136]:
empty_df.head(n=5)

,Title,Year,Rating,Director,Actors,URL
0,b'The Shawshank Redemption',b'1994',b'9.2',b'Frank Darabont',"b'Tim Robbins, Morgan Freeman'",b'https://www.imdb.com/title/tt0111161/?pf_rd_...
1,b'The Godfather',b'1972',b'9.2',b'Francis Ford Coppola',"b'Marlon Brando, Al Pacino'",b'https://www.imdb.com/title/tt0068646/?pf_rd_...
2,b'The Godfather: Part II',b'1974',b'9.0',b'Francis Ford Coppola',"b'Al Pacino, Robert De Niro'",b'https://www.imdb.com/title/tt0071562/?pf_rd_...
3,b'The Dark Knight',b'2008',b'9.0',b'Christopher Nolan',"b'Christian Bale, Heath Ledger'",b'https://www.imdb.com/title/tt0468569/?pf_rd_...
4,b'12 Angry Men',b'1957',b'8.9',b'Sidney Lumet',"b'Henry Fonda, Lee J. Cobb'",b'https://www.imdb.com/title/tt0050083/?pf_rd_...

In [71]:
empty_df.to_csv('./imdb.csv', index=False)

In [137]:
movie_data = pd.read_csv('imdb.csv')
movie_data.head(n=5)

,Title,Year,Rating,Director,Actors,URL
0,The Shawshank Redemption,1994,9.2,Frank Darabont,"Tim Robbins, Morgan Freeman",https://www.imdb.com/title/tt0111161/?pf_rd_m=...
1,The Godfather,1972,9.2,Francis Ford Coppola,"Marlon Brando, Al Pacino",https://www.imdb.com/title/tt0068646/?pf_rd_m=...
2,The Godfather: Part II,1974,9.0,Francis Ford Coppola,"Al Pacino, Robert De Niro",https://www.imdb.com/title/tt0071562/?pf_rd_m=...
3,The Dark Knight,2008,9.0,Christopher Nolan,"Christian Bale, Heath Ledger",https://www.imdb.com/title/tt0468569/?pf_rd_m=...
4,12 Angry Men,1957,8.9,Sidney Lumet,"Henry Fonda, Lee J. Cobb",https://www.imdb.com/title/tt0050083/?pf_rd_m=...

In [108]:
print (movie_data.values.shape)

(250, 6)